.div_for_cards {
  height: 80vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.width400 {
  width: 400px;
  text-align: center;
  margin: auto;
}

.width300 {
  width: 300px;
  margin: auto;
}

.number-checkbox {
  height: 38px;
  width: 44px;
}
